<h2>Update Post</h2>
<form method="POST" action="/posts/update-post/confirm">
 <input type="text" placeholder="Body" name="body"/>
 <p> </p>
 <input type="hidden" value={{postID}} name="postID" />
 <button>Update</button>
</form>