<h2>Update Post</h2>
<form method="POST" action="/update-post/confirm">
 <input type="text" placeholder="Title" name="title" />
 <p></p>
 <input type="text" placeholder="Body" name="body" id="postBody"/>
 <p> </p>
 <input type="hidden" value={{postID}} name="postID" />
 <button>Update</button>
</form>